/* ==================================== 
All Components
==================================== */

.page-title {
  margin: 2.5rem 0 2.5rem 0;
}

input[type=search] {
  box-shadow: none;
}

/* ==================================== 
Navigation Component
==================================== */

.top-bar, ul li {
	background-color: #FFF !important;
}

.us-map {
	width: 3rem;
	height: 2rem;
}

#weather-site {
  color: #FFF;
  margin-left: 4rem;
  position: absolute;
  z-index: 0;
}

/* ==================================== 
Weather Form Component
==================================== */

#form-button {
  border: none !important;
  margin-top: 2rem;
}

.temp {
  color: #00558b;
}

/* ==================================== 
About Component
==================================== */

.about-p {
  margin: 2rem 0 2rem 0;
}
.content > div {
    text-align: center;
    margin: 0 3rem 2rem 0;
    width: 20rem;
    display: inline-block;
    padding:10px;
    transition-duration: 2s;
    transition-property: background-color, color;
    transition-delay: 1s;
}


#block-1:hover {
    background-color: #dfdfdf;
    color: #00558b;
}

#block-2:hover {
    background-color: #dfdfdf;
    color: #F04124;
}

/* ==================================== 
Examples Component
==================================== */

.container {
	width: 100%;
	background: #fff;
	margin: auto;
}
.main-header {
	text-align: center;
	padding: 2.8px 0;
}


.photo-container {
  display: inline-block;
  margin: 3rem 3rem 3rem 0;
  text-align: center;
  width: auto;
}

.photo-container img {
 	max-width: 100%;
 	position: relative;
	z-index: 100;
}

.photo {
	position: relative;
}

.photo-desc {
  background: #345d88 none repeat scroll 0 0;
  bottom: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}


/* ==================================== 
 Ex Component: Transforms & Transitions
==================================== */

.photo {
	transition: transform 1s ease-in;
	transform-style: preserve-3d;
}

.photo:hover {
	transform: rotate3d(1,0,0, 180deg);
}

.side-a, .side-b {
	backface-visibility: hidden;
}

.side-b {
	transform: rotateX(180deg);
}



